.Mining{
    width: 100%;
    min-height: 600px;
    background-color: #101535!important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: auto;
}
.Mining__div{
    min-height: 600px;
    width: 60%;
    display: flex;
}
.Mining__txt{
    width: 50%;
    min-height: 600px;
    flex-direction: column;
    font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif;    
    display: flex;
    align-items: flex-start;
}
.Mining__txt h2{
    font-size: 38px;
    color: white;
    letter-spacing: 3px;
}
.Mining__line{
    background-color: #7bdcb5;
    min-height: 0.5px;
    width: 80px;
    margin-top: 45px;
}
.txt__Mining{
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    text-align: left;
}
.Mining__btn{
    width: 150px;
    min-height: 50px;
    border: #1b1f50 solid 10px!important;
    color: #ffffff!important;
    text-transform: uppercase!important;
    font-family: 'Titillium Web' , 'sans-serif';
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #1b1f50;  
    transition: 0.1s;
}
.Mining__btn-activ{
    width: 155px;
    min-height: 50px;
    border: #1b1f50 solid 10px!important;
    color: #ffffff!important;
    text-transform: uppercase!important;
    font-family: 'Titillium Web' , 'sans-serif';
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #1b1f50;  
    transition: 0.1s;
}
.Mining__btn-activ i{
    opacity: 1;
    transition: 0.1s;
    margin-left: 8px;
}
.Mining__btn i{
    opacity: 0;
    transition: 0.1s;
}
.Mining__png{
    width: 50%;
    min-height: 600px;
    position: relative;
    background-size: cover;
    display: flex;
}
.Mining__img{
    width: 100%;
    min-height: 550px;
    position: absolute;
    margin-top: 70px;
    opacity: 0;
    transition: 1.5s;
}
.Mining__img-activ{
    position: absolute;
    width: 100%;
    min-height: 550px;
    opacity: 1;
    transition: 1.5s;
    margin-top: 0;
}
@media (max-width: 1560px) {
    .Mining__btn,.Mining__btn-activ{
        margin-top: 50px;
    }
    .Mining__div{
        width: 70%;
    }
}
@media (max-width:1200px) {
    .Mining__div{
        width: 90%;
    }
}
@media (max-width:980px) {
    .Mining{
        min-height: 1300px;
    }
    .Mining__div{
        flex-direction: column;
        width: 90%;
        height: 1200px;
    }
    .Mining__txt{
        width: 100%;
    }
    .Mining__png{
        width: 100%;
    }
}